.modal-user-form-item .ant-row.ant-form-item-row {
  display: inline-block;
  width: 100%;
}

.modal-user-form-item.ant-form-item .ant-form-item-label {
  text-align: start;
}

.modal-user-form-item.ant-form-item {
  margin-bottom: 12px;
}

.table-management-user.ant-table-wrapper .ant-table.ant-table-middle {
  font-size: 16px !important;
}

.table-management-user .ant-table-thead .ant-table-cell {
  background-color: #0c4da2 !important;
  color: #ffffff !important;
}

.table-row-light {
  background-color: #f9f9f9; /* Màu sáng cho dòng chẵn */
}

.table-row-dark {
  background-color: #e0e0e0; /* Màu tối cho dòng lẻ */
}

// custom scrollbar
.ant-table-body::-webkit-scrollbar {
  width: 4px;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #c1c1c1;
}

.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}
